{% extends 'base.html.twig' %}

{% block title %}{{ task.goal }}{% endblock %}

{% block body %}
    <div class="row mt-4">
        <div class="col-md-4 mb-4">
            <h1>{{ task.goal }}</h1>
        </div>
    </div>
{% endblock %}
